:root {
    font-size: 16px;
}

body{ 
    margin: 2rem 5rem;
    background-color:#1d1942 ;
    color: #fff;
}

.section-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.city-weather {
    background-color: red;
    height: auto;
    width: 250px;
    
    text-align: center;
    border: 1px solid;
}

.section {
    margin-top: 5rem;
}

h1 {
    text-align: center;
    margin-bottom: 125px;
}

.city {
    margin-bottom: 25px;
}

.time-zone {
    display: flex;
    margin: 30px 15px 0px 15px;
}

.time-zone-value {
    margin-left: 10px;
}

.interval {
    background-color: red;
    text-align: center;
    border: 1px solid;
}

@media (max-width:900px) {
    .city-weather {
        height: 400px;
        width: auto;
        max-width: 150px;
    }
    .interval {
        max-width: 150px;
    }
}

@media (max-width:790px) {
    .city-weather {
        height: 450px;
        width: auto;
    }
    .time-zone {
        flex-direction: column;
    }
    .time-zone-value {
        margin-left: 0px;
    }
}
