html {
    font-size: 10px;
    font-family: 'Abyssinica SIL', serif; 
    font-weight: 300;
}

body {
    background-color: lightsteelblue;
    margin-left: 5rem;
    margin-right: 5rem;
    line-height: 1.2;
}

* {box-sizing: border-box;}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

/*Sections*/
.section-block{
    height: calc(100vh - 8rem);
    padding: 5rem;
   
}
.section-block.not-fullscreen {
    height: auto;
}
.section-block.grey{background-color: grey;}
.section-block.lilla{background-color:mediumpurple;}
.section-block h1 {
    display: block;
    /*position: relative;*/
    margin-bottom: 5rem;
    text-align: center;
    /*z-index: 1;*/
    font-size: 4.8rem;
    font-weight: 600;
    color: white;
    

}

@media (max-width:740px), (max-width:916px) and (orientation:landscape) {
    .section-block {
        
        height: auto;
        min-height: calc(100vh - 8rem);
        padding: 2.5rem;
        
    }
    .section-block.not-fullscreen {
        min-height: 0;
    }
    .section-block h1 {
        font-size: 3.2rem;
        margin-top: 2.5rem;
    }
}
/*Sections*/

/*Navigation*/

header {
    position: fixed;
    top: 0;
    /* left: 0; */
    /* width: 100%; */
    width: calc(100% - 10rem);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    padding: 0.75rem 5rem;
    background-color: lightgray;
}
header + * {margin-top: 8rem;}

    .logo {
        display: inline-block;

    }
        .logo > img {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
        }

    .pasiuni, .portofoliu, .recomandari, .despre, .contact {
        color: black;
    }
        
    .pasiuni1, .portofoliu1, .recomandari1, .despre1, .contact1 {
        color: red;
    }
    
    .navigation {
        display: inline-block;
        text-align: center;
    }
        .navigation > a {
            display: inline-block;
            margin-right: 1rem;
            font-size: 1.6rem;
            font-weight: 600;
            text-decoration: none;
            /* color: black; */
        }
        .navigation > a:last-child {
            margin-right: 0;
        }
        .navigation > a:hover {
            text-decoration: underline;
            color: purple;
        }

        .picture {
           position: relative;
           align-items: right;
           
        }
        .picture > img {
            width: 299px;
            height: 256px;
        }

@media (max-width:740px) {
    header {
        padding: 0.75rem 2.5rem;
    }
    .navigation > a {
        margin-bottom: 0.5rem;
    }
    
}

@media (max-width:330px) {
    header {
        padding: 0.75rem 2.5rem;
    }
    .navigation > a {
        margin-bottom: 0.5rem;
        margin-right: 0.1rem;
        font-size: 1.2rem;
    }
    .section-block h1 {
        display: block;
        font-size: 2.4rem;
        text-align: center;
    }

}
@media (max-width:450px) {
    .picture > img { 
        width: 199px;
        height: 156px;
     }
}

/*Navigation*/

/*Hero*/
.hero {
    display: flex;
    align-items: center;
    position: relative;
    /*height: calc(100vh - 8rem); MUTATU IN SECTION-BLOCK*/
    padding: 0 5rem 20vh;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}
    .hero h1 {
        
        position: relative;
        z-index: 1;
        text-align: left;
        /*display: block;
        
        font-size: 4.8rem;
        font-weight: 600;
        color: white;
        margin-bottom: 3rem;
        MUTATU IN SECTION-BLOCK*/
    }
    #p {
        position: relative;
        z-index: 1;
        width: 80%;
        font-size: 1.8rem;
        text-align: justify;
        text-justify:inter-word;
        color: white;
        line-height: 1.3;
        
    }

    .picture > img {
        border-radius: 10%;
    }

@media (max-width:900px) {
    /* .section-block {     
        height: auto;
        min-height: calc(100vh - 8rem);
        padding: 2.5rem;  
    } */
    
    .hero {
        display: block; /*anuleaza propietatea de display flex*/
        /*height: auto;
        min-height: calc(100vh - 8rem);
        MUTATU IN SECTION-BLOCK*/
        padding: 2.5rem;
        
    }

    .my-picture {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
    }
    .picture {
        margin-top: 5rem;
    }
    

    /*.hero h1 {
        font-size: 3.2rem;
        margin-top: 2.5rem;
    }MUTATU IN SECTION-BLOCK*/
    #p { 
        width: 100%;
        font-size: 1.4rem;
        
    }
}
/*Hero*/


/*Pasiuni si Proiecte*/

/* .my-passion h1, .my-portfolio h1 {
    margin: 0 7.5rem 7.5rem;
} */
.my-passion-inner-container, .my-portfolio-inner-container { color:white;}
.my-passion-inner-container h2, .my-portfolio-inner-container h2 {
    margin-bottom: 1rem;
    font-size: 2.4rem;
}
.my-passion-inner-container p, .my-portfolio-inner-container p {
    
    font-size: 1.4rem;
    text-align: justify;
}

/*Pasiuni si Proiecte*/

/*Recomandari*/
.recomandations-box {
    height: 21rem;
    display: flex;
    align-items:center;
    color: white;
    /*font-size: 0; Pentru varianta fara flex*/
}
 
/*.recomandations-box > div, .recomandations-box > img {
    display: inline-block;
    vertical-align: top;
}
.recomandations-box > div {
    width: calc(100% - 15rem);
}Pentru varianta fara flex*/
.recomandations-box img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.recomandations-box h2 {
    /* display:block; */
    font-size: 2.4rem;
    font-weight: 600px;
    margin-bottom: 0.5rem;
}
.recomandations-box h3 {
    /* display:block; */
    font-size: 1.4rem;
    font-weight: 600px;
    margin-bottom: 1rem;
}
.recomandations-box p {
    font-size: 1.4rem;
    text-align: justify;
    text-indent: 2rem;
}

@media (max-width:900px){
    .recomandations-box {
        height: auto;
        display: block;
        text-align: center;
    }
}

@media (max-width:330px) {
    .recomandations h1{ 
        font-size: 2rem;
    }
    .recomandations-box img {
        width: 10rem;
        height: 10rem;
        margin-bottom: 1rem;
    }
    .recomandations-box h2 { 
        font-size: 1.8rem;  
    }
    
}
    
/*Recomandari*/

/*Despre mine*/
/* .about-me {

} */
.about-me h1{
    margin-bottom: 15rem;
}
.about-me-inner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.about-me-inner-container > img {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
}
/* .about-me-inner-container > div {
    
} */
.about-me-inner-container h2 {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}
.about-me-inner-container p {
    display: block;
    width: 50rem;
    font-size: 2rem;
    text-align: justify;
    text-indent: 2rem;
}

@media (max-width:1023px) {
    .about-me h1{
        margin-bottom: 7.5rem;
    }
    .about-me-inner-container {
        height: auto;
        display: block;
        text-align: center;
    }
    .about-me-inner-container > img {
        width: 15rem;
        height: 15rem;
    }
    .about-me-inner-container p {
       
        width: auto;
        font-size: 1.4rem;
    }
}

@media (max-width:330px) {
    .about-me-inner-container > img {
        width: 10rem;
        height: 10rem;
    }
}

.container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
}

.h3, .title1, .title2, .title3, .title4, .title5, .title6, .title7, .title8 {
    color: #fff;
    font-size: 20px;
    font-family: "Raleway Thin, sans-serif";
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: 0;
}

.h3 { 
    opacity: 1;
}

.title1, .title2, .title3, .title4, .title5, .title6, .title7, .title8 {
    position: absolute;
    padding: 14px;
    bottom: 0px;
}

.title1 {
    animation: 8s slide 0s infinite;
}

.title2 {
    animation: 8s slide 1s infinite;
}

.title3 {
    animation: 8s slide 2s infinite;
}

.title4 {
    animation: 8s slide 3s infinite;
}

.title5 {
    animation: 8s slide 4s infinite;
}

.title6 {
    animation: 8s slide 5s infinite;
}

.title7 {
    animation: 8s slide 6s infinite;
}

.title8 {
    animation: 8s slide 7s infinite;
}

@keyframes slide {
    0% {
        opacity: 1;
        bottom: 10px;
    }

    5% {
        opacity: 1;
        bottom: 0;
    }

    10% {
        opacity: 1;
        bottom: 0;
    }

    15% {
        opacity: 0.25;
        bottom: -20px;
    }

    20% {
        opacity: 0;
        bottom: 0;
    } 
}

/*Despre mine*/

/*Footer*/
footer {
    color:white;
}

footer h3 {
    display: block;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: 600;
}

footer address {
    font-size: 1.8rem; 
    margin-bottom: 2rem;
}

footer a {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 0.75rem;
}


/*Footer*/

/*Grid*/
.grid { width: calc(100% + 5rem); 
    margin: 0 -2.5rem; /*sau margin-left: -2.5rem;*/
    
}
.grid-box { 
    float: left; 
   /* height: 10rem; */
    margin:0 2.5rem 4rem;
   /* background-color: red; */
    
}

    .box-full{ width:calc(100% - 5rem); }
    .box-half{ width:calc(50% - 5rem); }
    .box-third{ width:calc(33.33% - 5rem); }
    .box-quarter{ width:calc(25% - 5rem); }

    @media (max-width:767px) {
        .box-half{ width:calc(100% - 5rem); }
        .box-third{ width:calc(50% - 5rem); }
        .box-quarter{ width:calc(33.335% - 5rem); }
    }

    @media (max-width:480px) {
        .box-half{ width:calc(100% - 5rem); }
        .box-third{ width:calc(100% - 5rem); }
        .box-quarter{ width:calc(33.335% - 5rem); }
    }
/*Grid*/
